@model AppX.Models.Departmentx

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Departmentx</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dep_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dep_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dep_location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dep_location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Dep_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
