@model IEnumerable<AppX.Models.Address>

@{
    ViewBag.Title = "Addresses";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Addresses", FormMethod.Get))
{
    <p>
        Department: @Html.DropDownList("department", "All")
        Employee: @Html.TextBox("SearchString") <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Emp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Emp_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Emp_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Emp_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Emp_id })
            </td>
        </tr>
    }

</table>
