@model IEnumerable<AppX.Models.Employee>

@{
    ViewBag.Title = "Employees";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Employees", FormMethod.Get))
{
<p>
    Department: @Html.DropDownList("department", "All")
    Employee: @Html.TextBox("SearchString") <input type="submit" value="Search" />
</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrentDepartment.Dep_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hire_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentDepartment.Dep_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hire_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
