@model IEnumerable<AppX.Models.AllTables>

@{
    ViewBag.Title = "All tables joined";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hire_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dep_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dep_location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wl_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_time)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hire_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dep_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dep_location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wl_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_time)
        </td>
    </tr>
    }

</table>
